{% load static %}
<html>
<head>
    <meta charset = "utf-8">
    <title>{% block title %} Associate Site {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    {% block javascript %}{% endblock %}

</head>
<body>
    <main>
        <div class="header">
            <h1>WELCOME TO DJANG!</h1>
        </div>
        <div class="navbar">
            <a href="/">main</a>
            <a href="{% url 'community:index' %}">커뮤니티</a>
            <a href="">최신글</a>
            <a href="{% url 'program:index' %}">강의</a>
            {% if user.is_authenticated %}
                <div class="dropdown" style="float:right">
                    <button class="dropbtn" >{{ user.nickname }}
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="">내정보</a>
                    </div>
                </div>
            {% else %}
                    <div class="dropdown" style="float:right">
                    <button class="dropbtn">Human
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                    <a href="{% url 'account:signup' %}">회원가입</a>
                    <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            {% endif %}
            {% block navbar %}
            {% endblock %}
        </div>
        <div class="sidevar">
            {% block sidevar %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% block body %}
    {% endblock %}
</body>
</html>