{% extends "base.html" %}

{% block javascript %}
<script>
    function fuc_test(pk) {
        $.ajax({
            type: "POST",
            url: "{% url 'board:comment_remove' %}",
            data: {'comment_pk': pk,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            contentType: 'json',
            success: function (response_data) {
                alert(response_data.message);
            },
            error: function(request, status, error){
                alert('Error checking pk: '+ pk + " " + status + " " + error + " " + request.status + " ")
        },
        });
    }
</script>
{% endblock %}

{% block content %}
<!--https://docs.djangoproject.com/en/2.2/ref/contrib/messages/-->
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<h1>{{ board.title }}</h1>
<br>
<li>
    Authors :
    {{ board.author }}
</li>
<li>
    Date :
    {{ board.created_date }}
</li>
<li>
    Viewer:
    {{ hitcount.hit_counted }}
</li>
<li>
    Content:
    {{ board.content }}
</li>

<li>
    <a href = "{% url 'board:board_remove' board.id %}">Delete this post</a>
    <a href = "{% url 'board:board_edit' board.id %}">edit this post</a>
</li>

<li>
    <form method="POST" action="{% url 'board:comment_new' board_pk=board.id %}">
        {% csrf_token %}
        <input type="text" name="content" placeholder="Write your comment">
        <input type="submit" value="Write">
    </form>
    {% for comment in board.comments.all %}
        <p>Date: {{ comment.created_date }}</p>
        <p>Authors: {{ comment.author }}</p>
        <p>Comment: {{ comment.content }}</p>
        <input type="button" class="remove_comment" name="{{ comment.id }}" value="remove" onclick="fuc_test(this.name)">

    {% empty %}
        <p>No comments are here</p>
    {% endfor %}

</li>

{% endblock %}