{% extends "base.html" %}

{% block content %}
    <h2>Board list</h2>
    <table border="1px">
        {% if board_list %}
        {% for post in board_list %}
            <tr>
                <th><a href = "{% url 'board:board_detail' post.id %}">{{ post.title }}</a></th>
                <th>{{ post.author }}</th>
                <th>{{ post.created_date }}</th>
            </tr>
        {% endfor %}
        {% else %}
            <p>There is no Posts How about you write?</p>
        {% endif %}
        {% if user.is_authenticated %}
            <p><a href = "{% url 'board:board_new' %}">Write Post</a></p>
        {% endif %}
        <p><a href = "{% url 'board:board_list' 0 %}">ID</a></p>
        <p><a href = "?order=title">title</a></p>
    </table>
    <!-- https://stackoverflow.com/questions/47996963/that-page-number-is-less-than-1-django -->
    <!--  -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'community:community_detail' community.url_key page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% 'community:community_detail' community.url_key page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock content%}