{% extends 'base.html' %}
{% block title %}{{ community.title }}{% endblock %}

{% block content %}
    <p>Author : {{ post.author }}</p>
    <p>PostId: {{ post.id }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Content: {{ post.content }}</p>

    <!--
    <div class="comment" onload="getComment()">
            <form id="comment_form" method="POST" action="">
                <textarea name="content" form="comment_form">Enter text here</textarea><br>
                <button type="submit">submit</button>
                <button type="reset">reset</button>
            </form>
            <table class="comment_list">
                <thead>
                    <tr>
                        <th>nickname</th>
                        <th>content</th>
                        <th>Created</th>
                        <th>수정</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    -->
{% endblock %}
{% block script %}
<!--
<script>
    function getComment(id) {
        $.ajax({
            type: "GET",
            url: "{% url 'community:comment_view' %}",

        success: function (response_data) {
                var comments = response_data.comments
        },

        error: function(request, status, error){
                alert('Error checking pk: '+ pk + " " + status + " " + error + " " + request.status + " ")
        }
        });
    }

        function getComment(id) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if(xhr.status === 200) {
                    var comments = JSON.parse(xhr.responseText).comments;
                    var tbdoy = document.querySelector('#comment_list tbody');
                    tbody.innerHTML = '';
                    comments.forEach(comment => {
                        var row = document.createElement('tr');
                        var td = document.createElement('td');
                        td.textContent = comment.user.nickname;
                        row.appendChild(td);
                        td = document.createElement('td');
                        td.textContent = comment.content;
                        row.appendChild(td);
                        td = document.createElement('td');
                        td.textContent = comment.createdAt;
                        row.appendChild(td);
                        var edit = document.createElement("button");
                        edit.textContent = 'edit';
                        edit.addEventListener('click', function() {
                            var newComment = prompt('Type for edit');
                            var xhr = new XMLHttpRequest();
                            xhr.onload = function() {
                            if(xhr.status === 200) {
                                var result = JSON.parse(xhr.responseText).result;
                                alert(result);
                                getComment(id);;
                            } else {
                                console.error(xhr.responseText);
                            }
                        };
                        xhr.open('PATCH','/comment'+comment.id);
                        xhr.setRequestHeader('Content-Type','application/json');
                        xhr.send(JSON.stringify({comment: newComment}));
                        });
                        var remove = document.createElement('button');
                        remove.textContent = '삭제';
                        remove.addEventListener('click', function () { // 삭제 클릭 시
                        var xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                            if (xhr.status === 200) {
                            var result = JSON.parse(xhr.responseText).result;
                            alert(result);
                            getComment(id);
                            } else {
                            console.error(xhr.responseText);
                            }
                        };
                        xhr.open('DELETE', '/comments/' + comment.id);
                        xhr.send();
                        });
                        td = document.createElement('td');
                        td.appendChild(edit);
                        row.appendChild(td);
                        td = document.createElement('td');
                        td.appendChild(remove);
                        row.appendChild(td);
                        tbody.appendChild(row);
                    });
                } else {
                    console.error(xhr.responseText);
                }
            }
            xhr.open('GET','/comment'+id);
            xhr.send();
        }
    </script>
-->
{% endblock %}