* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  .navbar {
    overflow: hidden;
    width: 100%;
    background-color: #333;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar p {
    float: right  ;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 46px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }


  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color on hover */
  .sidenav a:hover {
    background-color: #ddd;
    color: black;
  }

  .sidevar {
    height: 100%;
    width: 10%;
    top: auto;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  .sidevar a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }

  .sidevar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the content */
  .content {
    margin-top: 15px;
    position: relative;
    margin-left: 10%;
    padding-left: 20px;
  }

  .content.seventy {
    width:70%
  }

  .content.twenty {
    width:20%
  }

.column {
  float: left;
  padding: 10px;
}
/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* same width of column */
.column.same {
  width: 33.3%;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

table .table_list {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  margin : 20px 10px;
}
table .table_list th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

table .table_list td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_blog */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
