{% extends 'base.html' %}
{% block title %}{{ program.title }}{% endblock %}

{% block content %}
    <h1>Author: {{ program.author.nickname }}</h1>
    <table border="1">
        <tr>
            <td>title</td>
        </tr>
        {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.title }}</td>
            {% for subject in subjects %}
                <tr>
                    <td><a href="#">{{ subject.title }}</a></td>
                </tr>
            {% endfor %}
            <td><a href="{% url 'program:subject_create' program.url_key chapter.pk %}">글쓰기</a></td>
        {% endfor %}
            </tr>
    </table>
    {% if program.author == user %}
        <a href="{% url 'program:chapter_create' program.url_key %}">Chapter 생성</a>
    {% endif %}
{% endblock %}